{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
<!--<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">Bought!</div>
</header>-->
{% block main %}

 <table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    <tbody>

        <!-- TODO: Loop through the database entries to display them in this table -->

        {% for stock in stocks %}
        {% if stock["SUM(shares)"] > 0 %}
            <tr>
                <td class="text-start">{{stock["symbol"]}}</td>
                <td class="text-start">{{stock["name"]}}</td>
                <td class="text-end">{{stock["SUM(shares)"]}} </td>
                <td class="text-end">{{stock["price"] | usd}}</td>
                <td class="text-end">{{((stock["price"])*(stock["SUM(shares)"])) | usd}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <!-- table Foot begins-->
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{cash | usd}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{cost | usd}}</td>
        </tr>
    </tfoot>
 </table>
{% endblock %}